<!-- entries/templates/entries/entry_detail.html -->

{% extends "entries/base.html" %} <!-- connects to (PARENT) base template -->

{% block content %} <!-- start -->
    <article>
        <h2>{{ entry.date_created|date:'Y-m-d H:i' }}</h2>
        <h3>{{ entry.title }}</h3>
        <p>{{ entry.content }}</p>
    </article>

	<p>
	    <a href="{% url 'entry-update' entry.id %}">✍️ Edit</a>  <!-- link to edit view (entry) -->
	    <a href="{% url 'entry-delete' entry.id %}">⛔ Delete</a> <!-- link to delete view -->
	</p>
{% endblock %} <!-- end -->

<!-- the block tag highlights the section of code that a child template can override -->
<!-- this means the code within the block will inherit the HTML structure and styling from parent template -->
<!-- remember, our base (PARENT) template has HTML and reference to CSS stylesheet -->
<!-- e.g. note how tags such as h2, h3 and a feature on our static file static/css/diary.css -->

