<!-- entries/templates/entries/entry_form.html -->

{% extends "entries/base.html" %}  <!-- connects to (PARENT) base template -->
{% block content %}
    <form method="post">{% csrf_token %}
        {{ form.as_p }}  <!-- one way to render form -->
        <input type="submit" value="Save">
    </form>
    {% if entry %}
        <a href="{% url 'entry-detail' entry.id %}">
        	<button>Cancel</button>
        </a>
    {% else %}
        <a href="{% url 'entry-list' %}">
        	<button>Cancel</button>
        </a>
    {% endif %}
{% endblock %}