/Boukes 1-1 Session.pages

/TEST.py
/TEST SOLUTIONS.py
/Books/Al-Sweigart-Automate-The-Boring-Stuff-With-Python_-Practical-Programming-For-Total-Beginners-No-Starch-Press-2019.pdf
/Working with CSV & PDF files/CSV Exercise.csv
/Working with CSV & PDF files/Employee Sample Data.csv
/Working with CSV & PDF files/Find_the_Phone_Number.pdf
/Books/Learn Python the Hard Way.PDF
/Projects/Udemy Projects/Project List - Completed.pages
/Working with CSV & PDF files/Udemy practice data.csv
/Working with CSV & PDF files/Working_Business_Proposal.pdf
